.UserInfo {
  display: flex;
  color: white;
}

.UserInfo-container {
  padding-left: 10px;
}

.UserInfo-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden; 
}

.UserInfo-name {
  font-weight: bold;
  font-size: 18px;
}

.UserInfo-title {
  font-size: 14px;
  padding-top: 4px;
}