.Comment {
  padding-top: 14px;
}

.Comment-author {
  color: #5caef1;
}

.Comment-summary {
  font-size: 12px;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.Comment-children {
  width: 100%;
  padding-left: 30px;
}

.Comment-innerComments {
  display: flex;
}

.Comment-verticalLine {
  width: 1px;
  background-color: #f1f1f1;
  margin-left: 6px;
  margin-top: 10px;
}

.Comment-deleteIcon {
  float: right;
  cursor: pointer;
}

.Comment-content {
  display: flex;
  font-size: 14px;
  color: #676767;
  width: 100%;
  padding-top: 7px;
}

.Comment-arrowsContainer {
  width: 30px;
  display: flex;
}

.Comment-arrows {
  position: relative;
}

.Comment-text {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.Comment-arrows > * {
  width: 100%;
}

.Comment-arrowDown {
  position: absolute;
  top: 7px;
  left: 0px;
}