.PostList-container {
  background-color: white;
  border-radius: 12px;
  padding: 15px;
  display: grid;
  grid-gap: 15px;
}

.PostList-footer {
  display: flex;
  padding-top: 16px;
  justify-content: flex-end;
}

.PostList-btnMore {
  background: linear-gradient(to left, #000099 0%, #99ccff 100%);
  border-radius: 30px;
  border: none;
  color: white;
  padding: 7px 24px 17px 24px;
  cursor: pointer;
  font-size: 16px;
}

.PostList-IconMore {
  position: relative;
  top: 7px;
  font-size: 24px;
  margin-right: 6px;
}