.Header {
    position: fixed;
    top: 0;
    background-color: #2c2c2c;
    width: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    z-index: 1;
  }
  
  @media screen and (min-width: 600px) {
    .Header {
      padding: 0 228px;
   } 
  }
  
  .Header-height {
    height: 70px;
  }