.Post {
  background-color: #f9f9f9;
  border-radius: 12px;
  max-height: 415px;
  overflow: auto;
}

.Post-summary {
  display: flex;
  overflow: hidden;
  height: 110px;
  cursor: pointer;
}

.Post-container {
  width: 100%;
  overflow: hidden;
  margin: 8px 10px;
  position: relative;
}

.Post-title {
  text-overflow: ellipsis;
  font-size: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.Post-imgContainer {
  height: 100%;
  overflow: hidden;
}

.Post-img {
  width: 130%;
  height: 100%;
}

.Post-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding-top: 6px;
  font-size: 14px;
  color: #676767;
}

.Post-footer {
  position: absolute;
  bottom: -2px;
  right: 0;
  display: flex;
  font-size: 12px;
}