.App {
  background-color: #f9f9f9;
  height: 100%;
  overflow: scroll;
}

@media screen and (min-width: 600px) {
  .App-section {
    padding: 12px 230px 0 230px;
 }
}

@media screen and (max-width: 600px) {
  .App-section {
    padding: 12px 7px 0 7px;
 } 
}